node_modules
npm-debug.log
package-lock.json
/.eslintcache
/.nyc_output
/coverage
/dist
/output
/releases
.idea
.yarn*
/.vscode
electron-builder.yml
.DS_Store
yarn.lock
yarn-error.log
gsender_server_log.txt
